html, body {
	height: 100%;
}

.app-container {
  position: relative;
  top: 25px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.dropdown-menu {
  z-index: 99999999;
}

.br-0 {
	border-radius: 0 !important;
}

.of-auto {
	overflow: auto !important;
}