
.outside-panel {
    display: flex;
    align-items: center;
    justify-content: center;
	background-image: url(../../img/panel.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.inside-panel {
	float: none;
    margin: 0 auto;
}

.panel {
    opacity: .95;
	padding: 20px;
    border-radius: 3px;
	min-width: 400px;
    border-top: 4px solid #008548;
    -webkit-box-shadow: 0 1px 1px rgba(34, 36, 38, 0.15);
    box-shadow: 0 1px 1px rgba(34, 36, 38, 0.15);
	background: #fff;
	
	.panel-title {
		text-transform: uppercase;
		font-family: 'Nova Square', cursive;
		font-size: 28px;
		text-align: center;
		margin: 0;
	}
	
	.panel-body {
		padding: 0;
		margin: 0;
		overflow: overlay;
		flex: 1 1 auto;
		padding: 1.5rem 0 .5rem 0;
	}
	
	.panel-link {
		line-height: 38px;
		color: $info;
	}
	
	.panel-footer {
	}
}