.table {
  min-width: 600px;
  margin-bottom: 0;

  .table-head {
    word-break: break-word;
  }

  th, td {
    padding: 5px 15px 5px 10px;
    border: none;
  }

  th:not(:last-child),
  td:not(:last-child) {
    border-right: 1px solid $app-border-color;
  }

  thead th {
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    border-bottom: 2px solid $primary;

    &:hover {
      background-color: rgba(0, 0, 0, 0.075);
    }

    &::after,
    &::before {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      position: absolute;
      right: 2px;
      top: 9px;
    }

    &.asc::before {
      content: $fa-var-sort-asc;
      opacity: 1;
    }

    &.asc::after,
    &.desc::after {
      content: $fa-var-unsorted;
      opacity: 0.2;
    }

    &.desc::before {
      content: $fa-var-sort-desc;
      opacity: 1;
    }

    &.unsorted::before {
      content: $fa-var-unsorted;
      opacity: 0.2;
    }

    &.not-allowed {
      cursor: not-allowed;
    }
  }

  td {
    .btn {
      padding: 0.1875rem 0.375rem;
      font-size: 0.65625rem;
      line-height: 1.5;
      border-radius: 0.2rem;
    }
  }
}

.pagination .page-item .page-link {
  user-select: none;
}