.vertical-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  .item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.item-child {
      padding-left: 30px !important;
    }

    padding: 6px 12px;
    cursor: pointer;

    &:not(:last-child) {
      border-bottom: 1px solid $app-default-color;
    }

    &::before {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;

      content: $fa-var-circle-o;
    }

    &.item-child::before {
      content: $fa-var-angle-double-right;
    }

    &.active::before {
      content: $fa-var-circle;
    }

    &.item-child.active {
      a {
        color: #fff;
      }
      background-color: $primary;
    }

    &.item-child.active::before {
      color: #fff;
      content: $fa-var-angle-double-right;
    }

    &.active {
      color: $primary;
      a {
        color: $primary;
      }
    }

    a {
      text-decoration: none;
      color: $app-text-color;
    }

    &:hover {
      background: #eee;
    }
  }
}
